<section class="404" style="margin-top: -10rem;">
  <div class="container">
    <span
      style="
        text-align: left;
        float: left;
        margin-right: 16rem;
        bottom: 26rem;
        position: relative;
        text-transform: uppercase;
      "
    >
      {{- settings.four_text -}}
    </span>
    <h2
      style="
        text-align: left;
        float: left;
        margin-right: 16rem;
        bottom: 28.5rem;
        position: relative;
        text-transform: uppercase;
      "
    >
      {{ settings.four_message }}
    </h2>
  </div>
</section>
