<section class="header">
  {% if section.settings.show_banner %}
    <div class="top-header banner" style="color: {{section.settings.banner-background}}">
      <h5 style="color: {{section.settings.banner-text-color}}">{{ section.settings['banner-text'] }}</h5>
    </div>
  {% endif %}
</section>

{% include 'menu' %}

{% schema %}
{
  "name": "Main Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "Show banner",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "banner-text",
      "label": "Banner Text",
      "default": "Free Shipping On Orders Over $75",
      "info": "Banner text"
    },
    {
      "type": "color",
      "id": "banner-background",
      "label": "Banner background color",
      "default": "#433E3F"
    },
    {
      "type": "color",
      "id": "banner-text-color",
      "label": "Banner text color",
      "default": "#FFF9EF"
    }
  ]
}
{% endschema %}
