<section class="reset" style="margin-top: -38rem;">
  <div class="container" style="padding-right: 6rem;">
    <h2
      style="
        text-align: left;
        margin-bottom: 1.5rem;
        border-bottom: {{settings.border_section_thickness}}px solid {{settings.border_section_color}};
        padding-bottom: .5rem;
      "
    >
      Reset Password
    </h2>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <label for="password">Password</label>
      <input type="password" value="" name="customer[password]" size="16" style="margin-bottom: .5rem;">

      <label for="password_confirmation">Password Confirmation</label>
      <input
        type="password"
        value=""
        name="customer[password_confirmation]"
        size="16"
        style="margin-bottom: 1rem;"
      >

      <button
        type="submit"
        style="width: 10%;"
        class="h5 secondary-button"
      >
        Reset
      </button>
    {% endform %}
  </div>
</section>
